- current_user.connected_provider_names.each do |provider_name|
  %section.tiles.tabcontent{ id: provider_name, class: tab_active_class(provider_name) }
    - social_posts[provider_name]&.each do |social_post|
      = render 'day_subjects/consumer/tabs/item', social_post: social_post
