%section.tiles
  - @day_subjects.each do |day_subject|
    %article.style2
      %span.image
        = image_tag 'pic07.jpg'
      = link_to day_subject_path(day_subject) do
        %h2= day_subject.title
