- current_user.day_subject_provider_names((day_subject_id)).each do |provider_name|
  %section.tiles.tabcontent{ id: provider_name, class: tab_active_class(provider_name) }
    - social_posts[provider_name]&.each do |social_post|
      = render 'day_subjects/show/consumer/tabs/item', social_post: social_post
