%section
  %h4 Provisional Statistic
  .table-wrapper
    %table
      %thead
        %tr
          - User::SOCIAL_PROVIDERS.each do |provider|
            %th=provider.capitalize
      %tbody
        %tr
          - User::SOCIAL_PROVIDERS.each do |provider|
            %td= "Total posts: #{posts_total(@statistic, provider)}"
        %tr
          %td Total likes: 10
          %td Total likes: 10
          %td Total likes: 10
%section
  %h4 Recent posts
