.header
  %h1
    = @day_subject.title
%p
  = @day_subject.description
  = render 'social_publications/form',       day_subject:  @day_subject
  = render 'day_subjects/consumer/social_posts', social_posts: @social_posts
